@import '../../scss/variables.scss';


@media (min-width: 359px) and (max-width: 1235px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #521794;

        .logoWrapper{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            width: 91.84vw;
            height: 28px;

            .button {
                background: none;
                border: none;
            }

            .colorButton {
                color: white;
                font-weight: $font-400;
                font-size: 16px;
                font-family: ManropeRegular;
            }
        }

        .generalInfoPageWrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .title {
                margin: 70px 0px 0px 0px;
                color: white;
                text-align: center;
                font-weight: $font-400;
                font-size: 34px;
                font-family: $cormarantRegular;
            }

            .subtitle {
                margin: 12px 0px 0px 0px;
                text-align: center;
                color: white;
                font-weight: $font-400;
                font-size: 16px;
                font-family: $manropeRegular;

                .wordRed {
                    color: #EE586D;
                }
            }

            .buttonWrapper {
                display: flex;
                

                .briliant {
                    width: 34px;
                    height: 31px;
                    position: relative;
                    top: 33px;
                    left: 60px;
                    z-index: 2;
                    background-image: url('../../images/BriliantImage.png');
                }
            
                .buttonCollabs {
                    position: relative;
                    padding-left: 32px;
                    margin: 24px 20px 0px 0px;
                    width: 230px;
                    height: 50px;
                    border-radius: 24px;
                    color: #371F7D;
                    font-weight: $font-500;
                    font-size: 18px;
                    font-family: $manropeRegular;
                    z-index: 1;
                }

                .ripple {
                    background-position: center;
                    transition: background 0.8s;
                }
                .ripple:hover {
                    background: white radial-gradient(circle, transparent 1%, #DFF88E 1%) center/15000%;
                }
                .ripple:active {
                    background-color: #DFF88E;
                    background-size: 100%;
                    transition: background 0s;
                }
            }

            .blur1 {
                position: absolute;
                top: 0px;
                left: 0px;
            }

            .moon {
                position: absolute;
                top: 80px;
                left: 0px;
            }

            .glas {
                position: absolute;
                top: 180px;
                right: 0px;
            }
        }

        .planetAndWomenWrapper {
            width: 100%;
            height: 52.32vh;

            .blur2 {
                position: absolute;
                bottom: 0px
            }
        
            .blur3 {
                position: absolute;
                right: 0px;
                bottom: 10px;
            }

            .blur4 {
                position: absolute;
                right: 0px;
                bottom: 0px;
            }

            .PlanetsAndWomenPicture {
                width: 100%;
                position: absolute;
                bottom: 0px;
                display: flex;
                justify-content: center;
                
            }

            .cosmosBottomPage {
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }

    }
}