@import '../../scss/variables.scss';

@media (min-width: 359px) and (max-width: 1235px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 91.84vw;

        .wrapperSubtitle {
            width: 74.76vw;
            height: 46px;

            .textSubtitle {
                font-weight: $font-600;
                font-size: 16px;
                font-family: $manropeRegular;
                text-align: center;
            }
        }

        .wrapperImageAvatar {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin: 0px 0px 24px 0px;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 1px solid;

            .iconFotoDrvice {
                position: relative;
                left: 24px;
                width: 24px;
                height: 24px;
                opacity: 0;
                overflow: hidden;
            }

            .buttonChooseFile {
                width: 24px;
                height: 24px;
                border: none;
                background: none;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            width: 91.84vw;
        
            .wrapperMessage {
                display: flex;
                justify-content:flex-start;
                width: 88.29vw;
                height: 16px;
            }
            .error {
                margin: 0px;
                color: $red-message;
                font-weight: $font-400;
                font-size: 14px;
                font-family: $interRegular;
            }
        
            .lable {
                margin: 0px 0px 8px 0px;
                font-weight: $font-400;
                font-size: 14px;
                font-family: $manropeRegular;
            }

            .inputDateHidden {
                position: relative;
                top: 30px;
                left: 300px;
                width: 19px;
                height: 19px;
                background: none;
                border: none;
                outline: none;
            }
        
            .input {
                padding: 0px 0px 0px 10px;
                width: 91.84vw;
                height: 6.49vh;
                font-size: 16px;
                border-radius: 16px;
                outline: none;
            }
    
            
            .button {
                margin: 122px 0px 0px 0px;
                width: 91.84vw;
                height: 6.49vh;
                font-family: $interRegular;
                font-weight: $font-600;
                font-size: 16px;
                border-radius: 16px;
                border: none;
                background: $backgroundButton;
                color: white;
            }
        }
    }    
}