@import '../../scss/variables.scss';

@media (min-width: 359px) and (max-width: 1235px) {

.container{
    width: 100%;
    height: 100%;

    .headWrapper {
        padding: 0px 18px 0px 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 65px;

        .opacity {
            width: 24px;
            height: 24px;
        }
    }

    .subscribeWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 206px;
        border: 1px solid;

        .goStart {
            width: 300px;
            height: 50px;
            font-family: $manropeRegular;
            font-weight: 600;
            font-size: 24px;
            text-decoration: none;
        }
    }

    .collabaWeekWrapper {
        width: 100%;
        height: 216px;
        border: 1px solid;
    }

    .goTestWrapper {
        width: 100%;
        height: 141px;
        border: 1px solid;
    }

    .sliderArticleWrapper {
        width: 100%;
        height: 245px;
        border: 1px solid;
    
    }

    .getBookWrapper{
        width: 100%;
        height: 275px;
        border: 1px solid;
    }

    .sliderBrandWrapper {
        width: 100%;
        height: 179px;
        border: 1px solid;
    }

    .connectCommunityWrapper {
        width: 100%;
        height: 152px;
        margin-bottom: 30px;
        border: 1px solid;
    }

    .footerWrapper {
        width: 100%;
        height: 43px;
        margin-bottom: 30px;
        border: 1px solid;
    }
}
}