@import '../../scss/variables.scss';

@media (min-width: 359px) and (max-width: 1235px) {

    .headWrapper {
        margin-top: 30px;
        padding: 0px 18px 0px 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100.8vw;
        height: 65px;

        .opacity {
            width: 24px;
            height: 24px;
        }
    }

    .subscribeWrapper {
        width: 95.48vw;
        height: 206px;
        border: 1px solid;
    }

    .collabaWeekWrapper {
        width: 91.84vw;
        height: 216px;
        border: 1px solid;
    }

    .goTestWrapper {
        width: 91.84vw;
        height: 141px;
        border: 1px solid;
    }

    .sliderArticleWrapper {
        width: 91.84vw;
        height: 245px;
        border: 1px solid;
    
    }

    .getBookWrapper{
        width: 91.84vw;
        height: 275px;
        border: 1px solid;
    }

    .sliderBrandWrapper {
        width: 91.84vw;
        height: 179px;
        border: 1px solid;
    }

    .connectCommunityWrapper {
        width: 91.84vw;
        height: 152px;
        margin-bottom: 30px;
        border: 1px solid;
    }

    .footerWrapper {
        width: 91.08vw;
        height: 152px;
        margin-bottom: 30px;
        border: 1px solid;
    }
}