@import '../../scss/variables.scss';

@media (min-width: 359px) and (max-width: 1235px) {

.container{
    width: 100%;
    height: 100%;

    .headWrapper {
        padding: 0px 18px 0px 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 65px;
        box-shadow: 0px 1px 3px 0px rgba(47, 43, 67, 0.1);

        .opacity {
            width: 24px;
            height: 24px;
        }
    }

    .subscribeWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 206px;

        .ganaralSubscribe {
            width: 91.84vw;
            height: 176px;
            border-radius: 16px;

            .headSubscribe {
                display: flex;
                align-items: center;
                width: 91.84vw;
                height: 38px;
                background-color: #6855AF;
                border-radius: 16px 16px 0px 0px;

                .titleSubscribe {
                    margin: 0px 0px 0px 16px;
                    font-family: $manropeRegular;
                    font-size: 16px;
                    font-weight: $font-400;
                    color: #FFFFFF;
                }
            }

            .bodySubscribe {
                padding-top: 16px;
                width: 91.84vw;
                height: 138px;
                background: radial-gradient(circle farthest-corner at 100px 40px, rgba(120, 59, 255, 0.19), rgba(120, 59, 255, 0.53), rgba(120, 59, 255, 1));
                border-radius: 0px 0px 16px 16px;

                .subTitle {
                    margin: 0px 0px 0px 16px;
                    font-family: $manropeRegular;
                    font-size: 18px;
                    font-weight: $font-600;
                    color: #0E1117;
                }

                .description {
                    margin: 8px 0px 0px 16px;
                    font-family: $manropeRegular;
                    font-size: 14px;
                    font-weight: $font-400;
                    color: #445371;
                }

                .wrapperButtonSaturn {
                    display: flex;
                    justify-content: space-between;

                    .button {
                        margin: 15px 0px 0px 16px;
                        width: 108px;
                        height: 24px;
                        font-family: $interRegular;
                        font-size: 12px;
                        font-weight: $font-400;
                        color: #0E1117;
                        background-color: #E5DAFF;
                        border-radius: 16px;
                        border: none;
                    }
    
                    .saturnSvg {
                        margin: -25px -10px 0px 0px;
                    }
                }
            }
        }
    }

    .collabaWeekWrapper {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        height: 216px;

        .generalCollabaWeek {
            height: 216px;
            width: 91.84vw;
            padding: 0px 0px 0px 6px;

            .titlCollabaWeek {
                margin: 0px 0px 20px 0px;
                font-family: $manropeRegular;
                font-weight: $font-600;
                font-size: 20px;
                color: #0E1117;
            }

            .positionSvg {
                display: flex;
                justify-content: center;
                width: 91.84vw;
            }
        }
    }

    .goTestWrapper {
        margin-top: 66px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 118px;

        .generalGoTest {
            width: 91.84vw;
            height: 118px;
            border-radius: 16px;
            background: radial-gradient(circle farthest-corner at 100px 40px, rgba(182, 219, 251, 0.62), rgba(59, 161, 255, 0.53), rgba(59, 67, 255, 1));

            .wrapperButtonClock {
                display: flex;
                justify-content: space-between;
                height: 24px;

                .buttonTest {
                    font-family: $interRegular;
                    font-size: 12px;
                    font-weight: $font-400;
                    margin: 16px 0px 0px 16px;
                    width: 82px;
                    height: 24px;
                    border: none;
                    background-color: #E5DAFF;
                    color: #0E1117;
                    border-radius: 16px;
                }

                .clock {
                    margin: -25px -15px 0px 0px;
                }
            }

            .titleTest {
                margin: 25px 0px 0px 16px;
                font-family: $manropeRegular;
                font-weight: $font-600;
                font-size: 18px;
                color: #0E1117;
            }

            .positionHowMinutes {
                display: flex;
                align-items: center;
                column-gap: 5px;
                margin-left: 16px;

                .howMinutes {
                    margin-top: 6px;
                    font-family: $manropeRegular;
                    font-size: 14px;
                    font-weight: $font-400;
                    color: #445371;
                }
            }
        }
    }

    .sliderArticleWrapper {
        margin-top: 36px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 245px;

        .generalSliderArticle {
            width: 91.84vw;
            height: 245px;

            .titleSlider {
                margin: 0px 0px 0px 4px;
                font-family: $manropeRegular;
                font-size: 20px;
                font-weight: $font-600;
                color: #0E1117;
            }

            .wrapperSlider {
                margin-top: 20px;
                width: 91.84vw;
                height: 199px;

                .wrapperCard {
                    display: flex;
                    column-gap: 12px;

                    .sizeCard {
                        width: 281px;
                        height: 199px;
                        border-radius: 16px;

                        .image {
                            width: 281px;
                            height: 134px;
                            background-image: url('../../images/Avaimage.png');
                            border-radius: 16px 16px 0px 0px;
                        }

                        .description {
                            padding: 12px 0px 0px 12px;
                            width: 281px;
                            height: 65px;
                            background-color: #8861CD;
                            border-radius: 0px 0px 16px 16px;
                        }
                    }
                }
            }
        }
    }

    .getBookWrapper{
        margin-top: 36px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 275px;

        .generalGetBook {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 71px;
            width: 91.84vw;
            height: 204px;
            border-radius: 16px;
            background: radial-gradient(circle farthest-corner at 100px 40px, rgba(120, 59, 255, 0.19), rgba(120, 59, 255, 0.53), rgba(120, 59, 255, 1));

            .positionCardToro {
                margin: -70px 0px 0px 0px ;
            }

            .titleGetBook {
                margin: 0px;
                font-family: $manropeRegular;
                font-weight: $font-600;
                font-size: 18px;
                color: #0E1117;
                text-align: center;
            }

            .buttonGetBoook {
                font-family: $manropeRegular;
                font-size: 16px;
                font-weight: $font-600;
                margin: 16px 0px 0px 0px;
                width: 288px;
                height: 48px;
                border: none;
                background-color: #8861CD;
                color: #FFFFFF;
                border-radius: 16px;
            }
        }
    }

    .sliderBrandWrapper {
        margin-top: 36px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 179px;

        .generalSliderBrand {
            width: 91.84vw;
            height: 179px;

            .titleSlider {
                margin: 0px 0px 0px 4px;
                font-family: $manropeRegular;
                font-size: 20px;
                font-weight: $font-600;
                color: #0E1117;
            }

            .wrapperSliderBrand {
                margin-top: 20px;
                width: 91.84vw;
                height: 135px;

                .wrapperCard {
                    display: flex;
                    column-gap: 12px;

                    .sizeCard {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 128px;
                        height: 135px;
                    }
                }
            }
        }
    }

    .connectCommunityWrapper {
        margin-top: 36px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 152px;
        margin-bottom: 30px;

        .generalConnectCommunity {
            width: 91.84vw;
            height: 152px;
            border-radius: 16px;
            background: radial-gradient(circle farthest-corner at 100px 40px, rgba(173, 217, 255, 0.62), rgba(59, 161, 255, 0.53), rgba(59, 67, 255, 1));

            .titleCommunity {
                margin: 18px 0px 0px 16px;
                font-family: $manropeRegular;
                font-size: 18px;
                font-weight: $font-600;
                color: #0E1117;
            }

            .progressLine {
                margin: 20px 0px 0px 16px;
            }

            .positionProgress {
                margin: 10px 0px 0px 16px;
                display: flex;
                align-items: center;
                column-gap: 5px;

                .textProgress {
                    margin: 0px;
                    font-family: $manropeRegular;
                    font-size: 14px;
                    font-weight: $font-400;
                    color: #445371;
                }
            }
        }
    }

    .footerWrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 51px;
        box-shadow: 0px -1px 3px 0px rgba(47, 43, 67, 0.1);

        .generalFooter {
            margin-top: 8px;
            display: flex;
            justify-content: space-between;
            width: 94.08vw;
            height: 43px;

            .iconFooter {
                width: 48px;
                height: 43px;
            }
        }
    }

    .psevdoBlock {
        height: 30px;
    }
}
}