@import '../../scss/variables.scss';

@media (min-width: 359px) and (max-width: 1235px) {

.containerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapperTitleHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 91.84vw;
        height: 64px;

        .titleQuestionnier {
            margin: 0px;
            text-align: center;
            font-weight: $font-400;
            font-size: 24px;
            font-family: $cormarantRegular;
        }

        .infoAboutQuestionnier {
            width: 24px;
            height: 24px;
        }
    }
}

    .wrapperProgressBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 91.84vw;
        height: 24px;

        .link {
        position: relative;
        bottom: 3px;
        }
    }
}