@import '../../scss/variables.scss';


@media (min-width: 359px) and (max-width: 1235px) {
    .marginItem {
        display: flex;
        grid-column: 10px;

        .wrapperCardInfo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25.2vw;
            height: 12.6vh;
            border-radius: 10px;
            border: 1px solid $borderFrameImage;
            background: $backgroundFrameImage;

            .positionImage {
                display: flex;
                justify-content: center;
                align-items: center;

                .image {
                    position: relative;
                    width: 25.2vw;
                    height: 12.6vh;
                    border-radius: 10px;
                    object-fit: cover;
                    background-color: red;
                }
            }

            .fieldAtach {
                display: none;
            }
        }
    }   
    
    .slick_prev {
        opacity: 0;
        left: 90px;
    }
    
    .slick_next {
        opacity: 0;
        right: 5px;
    }
}