$robotoBold: 'RobotoBold', sans-serif;
$robotoRegular: 'RobotoRegular', sans-serif;
$interRegular: 'InterRegular', sans-serif;
$manropeRegular: 'ManropeRegular', sans-serif;
$cormarantRegular: 'CormarantRegular', sans-serif;

$red-message: red;

$font-700: 700;
$font-600: 600;
$font-500: 500;
$font-400: 400;

$backgroundButton: #A73AFD;

$colorSubTitlePage: #0E1117;
$colorLable: #445371;
$backgroundFrameImage: #F6F6F8; 
$borderFrameImage: #D0D4DB;
$borderInput: #DCDEE3;
$colorTextInput: #858FA3;
$colorItemList: #0E1117;